html,
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
nav {
	position: fixed;
	width: 100%;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	ul {
		list-style-type: none;
		margin: 20px 0;
		padding: 0;
		font-size: 4em;
		text-align: center;
		li {
			display: inline;
			padding: 0 2%;
			a {
				text-decoration: none;
				color: $teal;
				@include single-transition(all, 0.2s, ease);
				&:hover, &:active, &:focus {
					border-bottom: 2px solid lighten($teal, 20%);
					color: lighten($teal, 20%);
				}
			}
		}
	}
}
header {
}
h1 {
	font-size: 24em;
	margin: 0;
	text-align: center;
	line-height: 1;
	padding: 8% 0 0;
}
h2 {
	font-size: 18em;
	line-height: 1;
	text-align: center;
	margin: 0;
}
h3 {
	font-size: 8em;
}
section {
	margin-top: 25px;
}
article {
	padding: 10%;
	p {
		font-size: 4em;
	}
}
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
a img {
	@include hover;
}
figure {
	margin: 0;
}
figcaption {
	text-align: center;
	font-style: italic;
}
hr {
  border: 0;
  height: 1px;
  @include background(linear-gradient(left, 
    rgba($teal,0),
    rgba($teal,0.5),
    rgba($teal,0)
    )
  );
  margin: 35px 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
p.ancillary {
	font-size: 8em;
	text-align: center;
}
.first {
	background: #fff;
	color: $teal;
	padding-top: 0;
	a {
		color: lighten($teal, 20%);
		text-decoration: none;
		border-bottom: 2px solid lighten($teal, 20%);
		@include single-transition(all, 0.2s, ease);
		&:hover, &:active, &:focus {
			color: $teal;
			border-bottom: 2px solid $teal;
		}
	}
}
.second {
	background: $teal;
	color: #fff;
	a {
		color: lighten($cream, 7%);
		text-decoration: none;
		border-bottom: 2px solid lighten($cream, 7%);
		@include single-transition(all, 0.2s, ease);
		&:hover, &:active, &:focus {
			color: $cream;
			border-bottom: 2px solid $cream;
		}
	}
}
.third {
	background: $cream;
	color: $teal;
}
.three-and-a-half {
	background: #fff;
	color: $teal;
	a {
		color: $teal;
		border-bottom: 2px solid $teal;
		text-decoration: none;
		@include single-transition(all, 0.2s, ease);
		&:hover, &:active, &:focus {
			color: lighten($teal, 20%);
			border-bottom: 2px solid lighten($teal, 20%);
		}
	}
	&:after {
		content: "";
	  display: table;
	  clear: both;
	}
	p {
		text-align: center;
	}
}
.screen-shots {
	width: 31.333%;
	float: left;
	margin: 1%;
}
.fourth {
	background: $ltGray;
	color: $teal;
	padding-bottom: 5%;
}
ol {
	li {
		margin-bottom: 2%;
		padding: 0;
		font-size: 4em;
	}
}
footer {
	background: #fff;
	color: $teal;
	font-size: 4em;
	text-align: center;
}
.contact-form {
	text-align: center;
	margin-top: 100px;
}
input,
textarea {
	margin: 10px 0;
	padding: 10px 0;
	background: #fff;
	width: 500px;
	text-align: center;
	border: none;
	outline: none;
	font-size: 4em;
}
.submit input {
	width: 150px;
	color: #fff;
	background: $teal;
	border: 2px solid $teal;
	@include single-transition(all, 0.2s, ease);
	&:hover, &:active, &:focus {
		background: #fff;
		border: 2px solid #fff;
		color: $teal;
	}
}