html,
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
	font-weight: 400;
	line-height: 1.5;
	color: $teal;
	background: #fff;
	margin: 0;
	padding: 0;
}

/* Main Navigation */
.main-nav {
	position: fixed;
	width: 100%;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	ul {
		list-style-type: none;
		margin: 20px 0;
		padding: 0;
		font-size: 4em;
		text-align: center;
		li {
			display: inline;
			padding: 0 2%;
			a {
				text-decoration: none;
				color: $teal;
				border-bottom: none;
				@include single-transition(all, 0.2s, ease);
				&:hover, &:active, &:focus {
					border-bottom: 2px solid lighten($teal, 20%);
					color: lighten($teal, 20%);
				}
			}
		}
	}
}

/* Header Text */
.ancillary {
	font-size: 8em;
	text-align: center;
}
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
	margin: 0;
	padding: 0;
	height: 0;
}

/* Typography */
p {
	font-size: 4em;
}
h1, .h1 {
	font-size: 18em;
	margin: 0;
	padding: 3% 0;
	text-align: center;
	line-height: 1;
}
h2, .h2 {
	font-size: 12em;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 3% 0;
	a {
		border-bottom: none;
		&:hover, &:active, &:focus {
			border-bottom: none;
		}
	}
}
h3, .h3 {
	font-size: 8em;
	margin: 0;
	padding: 3% 0;
}
h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 6em;
	margin: 0;
	padding: 3% 0;
}

/* Links */
a {
	color: lighten($teal, 20%);
	text-decoration: none;
	border-bottom: 2px solid lighten($teal, 20%);
	@include single-transition(all, 0.2s, ease);
	&:hover, &:active, &:focus {
		color: $teal;
		border-bottom: 2px solid $teal;
	}
}

/* Main Styles */
header {
	margin: 9% 0 0 0;
	padding: 0;
}
section {
	margin: 5% 0 0 0;
	padding: 0;
}
article {
	margin: 0;
	padding: 5% 10%;
}
.grid-2-3 {
	@include grid-2-3;
	padding: 5% 2.5% 5% 10%;
}
.archive-view {
	padding: 0;
	margin: 0;
}
aside {
	@include grid-1-3;
	margin: 0;
	padding: 5% 10% 5% 2.5%;
}

/* Responsive Images */
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	a {
		@include hover;
	}
}

/* Images in Posts & Pages */
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  @include background(linear-gradient(left, 
    rgba($teal,0),
    rgba($teal,0.5),
    rgba($teal,0)
    )
  );
  margin: 35px 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Ordered & Unordered Lists */
ol {
	li {
		margin-bottom: 2%;
		padding: 0;
		font-size: 4em;
	}
}

/* Preformatted Code */
pre, code {
	background: rgba(0,0,0,0.05);
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  @media (max-width: 1024px) {
    width: 100%;
    font-size: 14px;
  }
}
code {
  padding: 5px;
  vertical-align: 3px;
  white-space: nowrap;
}

/* Contact Form */
.wufoo {
	width: 66.667%;
	margin: 0 auto;
}

/* Comments */
.comments {
	clear: both;
	width: 50%;
	padding-left: 10%;
}

/* Footer */
footer {
	text-align: center;
	clear: both;
}