html,
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
header {
	background: #fff;
	color: $teal;
	text-align: center;
	line-height: 1;
	padding: 5%;
	h1 {
		font-size: 24em;
		margin: 0;
	}
	p {
		font-size: 8em;
	}
}
h2 {
	font-size: 20em;
	text-align: center;
	margin: 0;
}
article {
	padding: 5% 10%;
	p {
		font-size: 4em;
	}
}
.first {
	background: $gray;
	color: $teal;
	a {
		color: $teal;
		text-decoration: none;
		border-bottom: 2px dotted $teal;
		&:hover, &:active, &:focus {
			border-bottom: 2px solid $teal;
		}
	}
}
.second {
	background: $teal;
	color: $cream;
}
.third {
	background: $cream;
	color: $teal;
}
.fourth {
	background: $ltGray;
	color: $teal;
}
ol {
	li {
		margin-bottom: 2%;
		padding: 0;
		font-size: 4em;
	}
}
footer {
	background: #fff;
	color: $teal;
	font-size: 4em;
	text-align: center;
}